# pycache files
__pycache__/
*.py[cod]

# database
*.db
*.db-journal

# python venv
*env*/

# logs
logs.txt
*.log

# Statistics output
*.json

# build
dist/
build/
*.egg-info/
*.dist-info/

# Ruff cache
.ruff_cache/

# vs code directory
.vscode/

# Statistics Charts
charts/

# Configuration JSON file
!config.example.json

# Pytest
.pytest_cache/

