# pycache files
__pycache__/
*.py[cod]

# database
woninet.db
woninet.db-journal
*.db

# python venv
*venv*/
env/

# logs
logs.txt
*.log

# Statistics output
stats.json
*.json

# build
dist/
build/
*.egg-info/
*.dist-info/

# Ruff cache
.ruff_cache/

# vs code directory
.vscode/