# pycache files
__pycache__/
*.py[cod]

# database
woninet.db
woninet.db-journal

# python venv
*venv*/
env/

# logs
logs.txt
*.logs

# build
dist/
build/
*.egg-info/
*.dist-info/

# Ruff cache
.ruff_cache/

# vs code directory
.vscode/